body {
  background-color: black;
}
.timer {
  display: flex;

  color: white;
  font-size: 60px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  border-radius: 5px;
  border: 2px solid gray;
  min-width: 80px;
  text-align: center;
  background: linear-gradient(#2e2d2d 49%, grey 49% 52%, #414141 52%);
}
.label {
  color: gray;
  font-size: 25px;
}
.dots {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
}
h2 {
  color: #c4bdbd;
}
